@model Consumer.Domain.Entities.Immobile

<div class="form-horizontal">
    <form action="Create" method="Post">

        <div class="form-group">
            <label>ID</label>
            <input  class="form-control" type="number" name="id"/>
        </div>

        <div class="form-group">
            <label>Nome do Dono</label>
            <input  class="form-control" type="text" name="nameOwner"/>
        </div>
        <div class="form-group">
            <label>Identificação</label>
            <input  class="form-control" type="number" name="identification"/>
        </div>
        <div class="form-group">
            <label>Cidade</label>
            <input  class="form-control" type="text" name="city"/>
        </div>
        <div class="form-group">
            <label>Estado</label>
            <input  class="form-control" type="text" name="state"/>
        </div>
        <div class="form-group">
            <label>Bairro</label>
            <input  class="form-control" type="text" name="neighborhood"/>
        </div>
        <div class="form-group">
            <label>Número</label>
            <input  class="form-control" type="number" name="number"/>
        </div>
        <input  class="btn btn-primary" type="submit" value="Salvar"/>
    </form>
</div>