@model Consumer.Domain.Entities.Electric

<div class="form-horizontal">
    <div class="form-group">
        <label>ID</label>
        <input disabled class="form-control" type="number" name="id" asp-for="id"/>
    </div>
    <div class="form-group">
        <label>Data de leitura</label>
        <input  class="form-control" type="date" asp-for="readDate" name="readDate"/>
    </div>
    <div class="form-group">
        <label>Num. leitura</label>
        <input  class="form-control" type="number" asp-for="readNum" name="readNum"/>
    </div>
    <div class="form-group">
        <label>Kw Gasto</label>
        <input  class="form-control" type="number" asp-for="kwConsumed" name="kwConsumed"/>
    </div>
    <div class="form-group">
        <label>Valor a pagar</label>
        <input  class="form-control" type="number" asp-for="value" name="value"/>
    </div>
    <div class="form-group">
        <label>Data de pagamento</label>
        <input  class="form-control" type="date" asp-for="datePag" name="datePag"/>
    </div>
    <div class="form-group">
        <label>Média de consumo</label>
        <input  class="form-control" type="number" asp-for="mediaConsumed" name="mediaConsumed"/>
    </div>
</div>